$primary-color: black;
$secondary-color:#fd4f95;
$show-home-image: true;
$home-image: url(../img/background.png);
$background-opacity: 0.9;

@font-face {
    font-family: sci-fi;
    src: url(../font/Disolve_light.ttf);
}

// Fade in the content
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-color: #171717;
            background-attachment: fixed;
            background-size: cover; 
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

// Media Query Mixins
@mixin media-sm {
    @media screen and (max-width: 580px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 769px) and 
    (max-width: 1170px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}