// Widescreen
@include media-xl {
    main {
        padding: 1rem;
    }

}

// Desktops & Laptops
@include media-lg {
    main {
        padding: 1rem;

        .lg-heading {
            font-size: 10vw;
            letter-spacing: 2rem;
        }

        .sm-heading {
            font-size: 1.3rem;
        }
    }
}

// Tablets
@include media-md {
    main {
        text-align: left;
        padding: 2rem;

        .lg-heading {
            font-size: 10vw;
            letter-spacing: 1.5rem;
        }

        .sm-heading {
            font-size: 1.2rem;
        }
    }

    ul.menu-nav {
        height: 70vh;
        .nav-link{
            font-size: 10vw;
        }
            
    }

    .about-info {
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        
        grid-template-columns: 1fr;
}

    .projects {
        grid-template-columns: repeat(2, 1fr);
        max-width: 530px;
        .item{
            margin-left: auto;
            margin-right: auto;
        }
    }

}

// Smartphones
@include media-sm {
    main {
        padding: 1rem;

        .lg-heading {
            letter-spacing: 1rem;
            font-size: 10vw;
        }

        .sm-heading {
            font-size: 1rem;
        }
    }

    ul.menu-nav {
        .nav-link{
            margin-bottom: 5px;
            font-size: 12vw;
        }
    }

    .projects {
        grid-template-columns: 1fr;
        max-width: 250px;
        .item{
            margin-left: auto;
            margin-right: auto;
        }
    }
}