@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
    
    // Disable text select
    user-select: none;
}

body {
    background: 171717;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5; 
  
    //  Invisibilty
    opacity:0;  
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 1.5s;
    animation-delay: 0.7s;
    @include background
  }

// Headings

h1{
    font-family: sci-fi;
    font-size: 12rem; 
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 3rem;
}

h2, 
h3 {
    margin: 0;
    font-weight: 300;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 5), 0.2);
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

.text-secondary {
    color: $secondary-color;
}

main {
    text-align: center;
    height: 100vh;

    .icons {

        margin-top: 1rem;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
       a {
           padding: 0.4rem;
           text-decoration: none;
           color:#fff;
           &:hover {
               color: $secondary-color;
               @include easeOut();
           }
       } 
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-bottom: 0;
        }
        .center-content {
            margin-top: 25vh;
        }
    }
}